<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<header class="bg-white" style="border: #556cd6 ; outline-color: #556cd6 ; background-color: rgb(79 70 229 / var(--tw-bg-opacity)) ; border-radius: 2px">
  <nav class="mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-8" aria-label="Global" style="border: #556cd6">
    <div class="flex lg:flex-1" style="border-bottom: #556cd6">
      <a href="#" class="-m-1.5 p-1.5">
        <span class="sr-only">Your Company</span>
        <img class="h-8 w-auto" src="/assets/icon.png" style=" border-radius: 9px ;  margin-right: 100px ; border-right: 10px">
      </a>
    </div>
    <div class="flex lg:hidden" style="border-bottom: #556cd6">
      <button type="button" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700">
        <span class="sr-only">Open main menu</span>
        <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
        </svg>
      </button>
    </div>
    <div class="hidden lg:flex lg:gap-x-12" style="border-bottom: #556cd6;margin-right: 330px">
      <div class="relative">
        <button  type="button" class="flex items-center gap-x-1 text-xl font-semibold leading-6 text-gray-900"  style="color: white">
          Product
        </button>
      </div>
      <a href="#" class="text-xl font-semibold leading-6 text-gray-900" style="color: white" routerLink="/features" >Features</a>
      <a href="#" class="text-xl font-semibold leading-6 text-gray-900" style="color: white " routerLink="/marketplace">Marketplace</a>
      <a href="#" class="text-xl font-semibold leading-6 text-gray-900" style="color: white" routerLink="/about">Company</a>
    </div>

    <div class="dropdown">
     <button routerLink="/profile">
       <img class="h-8 w-auto" src="/assets/icon1.png" style="margin-left: 10px ; margin-top: 3px ; border-radius: 18px">
     </button>
    </div>
  </nav>
</header>
<div class="relative isolate flex items-center gap-x-6 overflow-hidden bg-gray-50 px-6 py-2.5 sm:px-3.5 sm:before:flex-1">
  <div class="absolute left-[max(-7rem,calc(50%-52rem))] top-1/2 -z-10 -translate-y-1/2 transform-gpu blur-2xl" aria-hidden="true">
    <div class="aspect-[577/310] w-[36.0625rem] bg-gradient-to-r from-[#ff80b5] to-[#9089fc] opacity-30" style="clip-path: polygon(74.8% 41.9%, 97.2% 73.2%, 100% 34.9%, 92.5% 0.4%, 87.5% 0%, 75% 28.6%, 58.5% 54.6%, 50.1% 56.8%, 46.9% 44%, 48.3% 17.4%, 24.7% 53.9%, 0% 27.9%, 11.9% 74.2%, 24.9% 54.1%, 68.6% 100%, 74.8% 41.9%)"></div>
  </div>
  <div class="absolute left-[max(45rem,calc(50%+8rem))] top-1/2 -z-10 -translate-y-1/2 transform-gpu blur-2xl" aria-hidden="true">
    <div class="aspect-[577/310] w-[36.0625rem] bg-gradient-to-r from-[#ff80b5] to-[#9089fc] opacity-30" style="clip-path: polygon(74.8% 41.9%, 97.2% 73.2%, 100% 34.9%, 92.5% 0.4%, 87.5% 0%, 75% 28.6%, 58.5% 54.6%, 50.1% 56.8%, 46.9% 44%, 48.3% 17.4%, 24.7% 53.9%, 0% 27.9%, 11.9% 74.2%, 24.9% 54.1%, 68.6% 100%, 74.8% 41.9%)"></div>
  </div>
  <div class="flex flex-wrap items-center gap-x-4 gap-y-2">
    <p class="text-sm leading-6 text-gray-900">
      <strong class="font-semibold">GeneriCon 2023</strong><svg viewBox="0 0 2 2" class="mx-2 inline h-0.5 w-0.5 fill-current" aria-hidden="true"><circle cx="1" cy="1" r="1" /></svg>Join us in Denver from June 7 – 9 to see what’s coming next.
    </p>
    <a href="#" class="flex-none rounded-full bg-gray-900 px-3.5 py-1 text-sm font-semibold text-white shadow-sm hover:bg-gray-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-900">Register now <span aria-hidden="true">&rarr;</span></a>
  </div>
  <div class="flex flex-1 justify-end">
    <button type="button" class="-m-3 p-3 focus-visible:outline-offset-[-4px]">
      <span class="sr-only">Dismiss</span>
      <svg class="h-5 w-5 text-gray-900" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
        <path d="M6.28 5.22a.75.75 0 00-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 101.06 1.06L10 11.06l3.72 3.72a.75.75 0 101.06-1.06L11.06 10l3.72-3.72a.75.75 0 00-1.06-1.06L10 8.94 6.28 5.22z" />
      </svg>
    </button>
  </div>
</div>
<section style="display: flex; background-position: bottom ">
  <!-- component -->
  <!-- img/beams.jpg -->

  <div class="flex bg-gray-100 text-gray-900">
    <aside class="flex h-screen w-20 flex-col items-center border-r border-gray-200 bg-white" style="height: 100% ; rgb(249 248 255 / 2%) ; ">
      <nav class="flex flex-1 flex-col gap-y-4 pt-10 justify-evenly" >
        <a class="group relative rounded-xl bg-gray-100 p-2 text-blue-600 hover:bg-gray-50" href="https://www.flaticon.com/free-icons/enter" title="enter icons">
          <svg class="h-6 w-6 stroke-current" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="">
            <path d="M18 4H6C4.89543 4 4 4.89543 4 6V18C4 19.1046 4.89543 20 6 20H18C19.1046 20 20 19.1046 20 18V6C20 4.89543 19.1046 4 18 4Z" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            <path d="M12 9V15M9 12H15H9Z" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          </svg>
          <div class="absolute inset-y-0 left-12 hidden items-center group-hover:flex">
            <div class="relative whitespace-nowrap rounded-md bg-white px-4 py-2 text-sm font-semibold text-gray-900 drop-shadow-lg">
              <div class="absolute inset-0 -left-1 flex items-center">
                <div class="h-2 w-2 rotate-45 bg-white"></div>
              </div>
              Layouts <span class="text-gray-400">(Y)</span>
            </div>
          </div>
        </a>

        <a href="#" class="group relative rounded-xl bg-gray-100 p-2 text-blue-600 hover:bg-gray-50">
          <svg class="h-6 w-6 stroke-current" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M18 4H6C4.89543 4 4 4.89543 4 6V18C4 19.1046 4.89543 20 6 20H18C19.1046 20 20 19.1046 20 18V6C20 4.89543 19.1046 4 18 4Z" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            <path d="M12 9V15M9 12H15H9Z" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          </svg>
          <div class="absolute inset-y-0 left-12 hidden items-center group-hover:flex">
            <div class="relative whitespace-nowrap rounded-md bg-white px-4 py-2 text-sm font-semibold text-gray-900 drop-shadow-lg">
              <div class="absolute inset-0 -left-1 flex items-center">
                <div class="h-2 w-2 rotate-45 bg-white"></div>
              </div>
              Layouts <span class="text-gray-400">(Y)</span>
            </div>
          </div>
        </a>
        <a class="group relative rounded-xl b p-2 text-blue-600 " routerLink="/chat" style="color: #556cd6">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 74, 255, 1);transform: ;msFilter:;"><circle cx="9.5" cy="9.5" r="1.5"></circle><circle cx="14.5" cy="9.5" r="1.5"></circle><path d="M12 2C6.486 2 2 5.589 2 10c0 2.908 1.897 5.515 5 6.934V22l5.34-4.004C17.697 17.852 22 14.32 22 10c0-4.411-4.486-8-10-8zm0 14h-.333L9 18v-2.417l-.641-.247C5.671 14.301 4 12.256 4 10c0-3.309 3.589-6 8-6s8 2.691 8 6-3.589 6-8 6z"></path></svg><div class="absolute inset-y-0 left-12 hidden items-center group-hover:flex" style="color: #556cd6">
            <div class="relative whitespace-nowrap rounded-md bg-white px-4 py-2 text-sm font-semibold text-blue-900 drop-shadow-lg">
              <div class="absolute inset-0 -left-1 flex items-center">
                <div class="h-2 w-2 rotate-45 bg-white"></div>
              </div>
              QuickChat<span class="text-gray-400"></span>
            </div>
          </div>
        </a>
        <a class="group relative rounded-xl bg-gray-100 p-2 text-blue-600 hover:bg-gray-50" routerLink="/logout">
          <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1"></path></svg>

          <div  class="absolute inset-y-0 left-12 hidden items-center group-hover:flex">
            <div class="relative whitespace-nowrap rounded-md bg-white px-4 py-2 text-sm font-semibold text-gray-900 drop-shadow-lg">
              <div class="absolute inset-0 -left-1 flex items-center">
                <div class="h-2 w-2 rotate-45 bg-white"></div>
              </div>
               Logout<span class="text-gray-400"></span>
            </div>
          </div>
        </a>
      </nav>

      <div class="flex flex-col items-center gap-y-4 py-10">
        <button class="mt-2 rounded-full bg-gray-100">
          <img routerLink="/profile" class="h-10 w-10 rounded-full" src="/assets/icon1.png" style="cursor: pointer" alt="" />

        </button>
      </div>
    </aside>
  </div>
<div class="container px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20" >
  <div class="flex flex-col mb-6 lg:flex-row md:mb-10">
    <div  style="margin-left: 400px ; margin-top: -40px ; margin-bottom: -80px ;border: black">
      <h2  class="max-w-md mb-6 font-sans text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl sm:leading-none xl:max-w-lg" style="font-family: 'Berlin Sans FB ;" >
        The Product , We Have Now
      </h2>
    </div>
  </div>
  <div style="display: flex; flex-direction: row;  " class="justify-evenly">
    <div class="relative flex flex-col text-gray-700 bg-white shadow-md bg-clip-border rounded-xl w-96" style="width: 30% ;height: 20% ; ">
      <div class="relative mx-4 mt-4 overflow-hidden text-gray-700 bg-white bg-clip-border rounded-xl h-96" routerLink="/preview">
        <img
          src="https://images.unsplash.com/photo-1629367494173-c78a56567877?ixlib=rb-4.0.3&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=927&amp;q=80 "
          alt="card-image" class="object-cover w-full h-full" />
      </div>
      <div class="p-6">
        <div class="flex items-center justify-between mb-2">
          <p class="block font-sans text-base antialiased font-medium leading-relaxed text-blue-gray-900">
            Apple AirPods
          </p>
          <p class="block font-sans text-base antialiased font-medium leading-relaxed text-blue-gray-900">
            Trade Now
          </p>
        </div>
        <p class="block font-sans text-sm antialiased font-normal leading-normal text-gray-700 opacity-75">
          With plenty of talk and listen time, voice-activated Siri access, and an
          available wireless charging case.
        </p>
      </div>
      <div class="p-6 pt-0">
        <button routerLink="/contact"
                class="align-middle select-none font-sans font-bold text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-3 px-6 rounded-lg shadow-gray-900/10 hover:shadow-gray-900/20 focus:opacity-[0.85] active:opacity-[0.85] active:shadow-none block w-full bg-blue-gray-900/10 text-blue-gray-900 shadow-none hover:scale-105 hover:shadow-none focus:scale-105 focus:shadow-none active:scale-100"
          type="button"
          style="color: #556cd6">
          Contact The Owner
        </button>
      </div>
    </div>
    <div class="relative flex flex-col text-gray-700 bg-white shadow-md bg-clip-border rounded-xl w-96" style="width: 30% ;height: 20% ;">
      <div class="relative mx-4 mt-4 overflow-hidden text-gray-700 bg-white bg-clip-border rounded-xl h-96">
        <img
          src="assets/iphone.jpg"
          alt="card-image" class="object-cover w-full h-full" />
      </div>
      <div class="p-6">
        <div class="flex items-center justify-between mb-2">
          <p class="block font-sans text-base antialiased font-medium leading-relaxed text-blue-gray-900">
            iPhone
          </p>
          <p class="block font-sans text-base antialiased font-medium leading-relaxed text-blue-gray-900">
            Trade Now
          </p>
        </div>
        <p class="block font-sans text-sm antialiased font-normal leading-normal text-gray-700 opacity-75">
          With plenty of talk and listen time, voice-activated Siri access, and an
          available wireless charging case.
        </p>
      </div>
      <div class="p-6 pt-0">
        <button routerLink="/contact"
                class="align-middle select-none font-sans font-bold text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-3 px-6 rounded-lg shadow-gray-900/10 hover:shadow-gray-900/20 focus:opacity-[0.85] active:opacity-[0.85] active:shadow-none block w-full bg-blue-gray-900/10 text-blue-gray-900 shadow-none hover:scale-105 hover:shadow-none focus:scale-105 focus:shadow-none active:scale-100"
          type="button"
          style="color: #556cd6">
          Contact The Owner
        </button>
      </div>
    </div>
    <div class="relative flex flex-col text-gray-700 bg-white shadow-md bg-clip-border rounded-xl w-96" style="width: 30% ;height: 20% ;">
      <div class="relative mx-4 mt-4 overflow-hidden text-gray-700 bg-white bg-clip-border rounded-xl h-96">
        <img
          src="assets/mac1.jpg"
          alt="card-image" class="object-cover w-full h-full" />
      </div>
      <div class="p-6">
        <div class="flex items-center justify-between mb-2">
          <p class="block font-sans text-base antialiased font-medium leading-relaxed text-blue-gray-900">
            Mac
          </p>
          <p class="block font-sans text-base antialiased font-medium leading-relaxed text-blue-gray-900">
            Trade Now
          </p>
        </div>
        <p class="block font-sans text-sm antialiased font-normal leading-normal text-gray-700 opacity-75">
          With plenty of talk and listen time, voice-activated Siri access, and an
          available wireless charging case.
        </p>
      </div>
      <div class="p-6 pt-0">
        <button routerLink="/contact"
                class="align-middle select-none font-sans font-bold text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-3 px-6 rounded-lg shadow-gray-900/10 hover:shadow-gray-900/20 focus:opacity-[0.85] active:opacity-[0.85] active:shadow-none block w-full bg-blue-gray-900/10 text-blue-gray-900 shadow-none hover:scale-105 hover:shadow-none focus:scale-105 focus:shadow-none active:scale-100"
          type="button"
          style="color: #556cd6">
          Contact The Owner
        </button>
      </div>
    </div>
  </div>
  <div style="display: flex; flex-direction: row; " class="justify-evenly">
    <div class="relative flex flex-col text-gray-700 bg-white shadow-md bg-clip-border rounded-xl w-96" style="width: 30% ;height: 30% ;margin-top: 50px">
      <div class="relative mx-4 mt-4 overflow-hidden text-gray-700 bg-white bg-clip-border rounded-xl h-96">
        <img
          src="assets/mac1.jpg"
          alt="card-image" class="object-cover w-full h-full" />
      </div>
      <div class="p-6">
        <div class="flex items-center justify-between mb-2">
          <p class="block font-sans text-base antialiased font-medium leading-relaxed text-blue-gray-900">
            Mac
          </p>
          <p class="block font-sans text-base antialiased font-medium leading-relaxed text-blue-gray-900">
            Trade Now
          </p>
        </div>
        <p class="block font-sans text-sm antialiased font-normal leading-normal text-gray-700 opacity-75">
          With plenty of talk and listen time, voice-activated Siri access, and an
          available wireless charging case.
        </p>
      </div>
      <div class="p-6 pt-0">
        <button routerLink="/contact"
                class="align-middle select-none font-sans font-bold text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-3 px-6 rounded-lg shadow-gray-900/10 hover:shadow-gray-900/20 focus:opacity-[0.85] active:opacity-[0.85] active:shadow-none block w-full bg-blue-gray-900/10 text-blue-gray-900 shadow-none hover:scale-105 hover:shadow-none focus:scale-105 focus:shadow-none active:scale-100"
          type="button"
          style="color: #556cd6">
          Contact The Owner
        </button>
      </div>
    </div>
    <div class="relative flex flex-col text-gray-700 bg-white shadow-md bg-clip-border rounded-xl w-96" style="width: 30% ;height: 30% ;margin-top: 50px">
      <div class="relative mx-4 mt-4 overflow-hidden text-gray-700 bg-white bg-clip-border rounded-xl h-96">
        <img
          src="assets/watch.jpg"
          alt="card-image" class="object-cover w-full h-full" />
      </div>
      <div class="p-6">
        <div class="flex items-center justify-between mb-2">
          <p class="block font-sans text-base antialiased font-medium leading-relaxed text-blue-gray-900">
            Apple Watch
          </p>
          <p class="block font-sans text-base antialiased font-medium leading-relaxed text-blue-gray-900">
            Trade Now
          </p>
        </div>
        <p class="block font-sans text-sm antialiased font-normal leading-normal text-gray-700 opacity-75">
          With plenty of talk and listen time, voice-activated Siri access, and an
          available wireless charging case.
        </p>
      </div>
      <div class="p-6 pt-0" >
        <button routerLink="/contact"
                class="align-middle  select-none font-sans font-bold text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-3 px-6 rounded-lg shadow-gray-900/10 hover:shadow-gray-900/20 focus:opacity-[0.85] active:opacity-[0.85] active:shadow-none block w-full bg-blue-gray-900/10 text-blue-gray-900 shadow-none hover:scale-105 hover:shadow-none focus:scale-105 focus:shadow-none active:scale-100"
          style="color: #556cd6"
          type="button">
          Contact The Owner
        </button>
      </div>
    </div>
  <div class="relative flex flex-col text-gray-700 bg-white shadow-md bg-clip-border rounded-xl w-96" style="width: 30% ;height: 30% ;margin-top: 50px">
    <div class="relative mx-4 mt-4 overflow-hidden text-gray-700 bg-white bg-clip-border rounded-xl h-96">
      <img
        src="assets/mac.jpg"
        alt="card-image" class="object-cover w-full h-full" />
    </div>
    <div class="p-6">
      <div class="flex items-center justify-between mb-2">
        <p class="block font-sans text-base antialiased font-medium leading-relaxed text-blue-gray-900">
          Mac
        </p>
        <p class="block font-sans text-base antialiased font-medium leading-relaxed text-blue-gray-900">
          Trade Now
        </p>
      </div>
      <p class="block font-sans text-sm antialiased font-normal leading-normal text-gray-700 opacity-75">
        With plenty of talk and listen time, voice-activated Siri access, and an
        available wireless charging case.
      </p>
    </div>
    <div class="p-6 pt-0">
      <button routerLink="/contact"
        class="align-middle select-none font-sans font-bold text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-3 px-6 rounded-lg shadow-gray-900/10 hover:shadow-gray-900/20 focus:opacity-[0.85] active:opacity-[0.85] active:shadow-none block w-full bg-blue-gray-900/10 text-blue-gray-900 shadow-none hover:scale-105 hover:shadow-none focus:scale-105 focus:shadow-none active:scale-100"
        type="button"
        style="color: #556cd6">
        Contact The Owner
      </button>
    </div>
  </div>
  </div>
  <div style="margin-top: 30px"
    class="p-10 rounded-l-xl border border-blue-gray-100 bg-[url('/image/gradient-bg-1.png')] rounded-xl bg-no-repeat lg:bg-contain bg-cover bg-right"
  >
    <p
      class="block antialiased font-sans text-sm font-light leading-normal text-blue-gray-900 font-bold mb-2"
    >
    </p>
    <h3
      class="block antialiased tracking-normal font-sans text-3xl font-semibold leading-snug text-blue-gray-900"
    >
    </h3>
    <p
      class="block antialiased font-sans text-base font-light leading-relaxed text-inherit mt-2 mb-6 !text-base font-normal text-gray-500"
    >
      Prepare to be part of dynamic conversations that will redefine the
      boundaries.
    </p>
    <button
      class="align-middle select-none font-sans font-bold text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-3 px-6 rounded-lg border border-gray-900 text-gray-900 hover:opacity-75 focus:ring focus:ring-gray-300 active:opacity-[0.85] flex-shrink-0"
      type="button"
      data-ripple-dark="true"
    style="color: #2b4ce3; border-color: #2b4ce3"
    routerLink="/add">
      Add Your Product
    </button>
  </div>
</div>

</section>
<div class="bg-white py-24 sm:py-32" style="border-top-width: 1px;border-radius: 5px">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <h2 class="text-center text-lg font-semibold leading-8 text-gray-900">Trusted by the world’s most innovative teams</h2>
    <div class="mx-auto mt-10 grid max-w-lg grid-cols-4 items-center gap-x-8 gap-y-10 sm:max-w-xl sm:grid-cols-6 sm:gap-x-10 lg:mx-0 lg:max-w-none lg:grid-cols-5">
      <img class="col-span-2 max-h-12 w-full object-contain lg:col-span-1" src="https://tailwindui.com/img/logos/158x48/transistor-logo-gray-900.svg" alt="Transistor" width="158" height="48">
      <img class="col-span-2 max-h-12 w-full object-contain lg:col-span-1" src="https://tailwindui.com/img/logos/158x48/reform-logo-gray-900.svg" alt="Reform" width="158" height="48">
      <img class="col-span-2 max-h-12 w-full object-contain lg:col-span-1" src="https://tailwindui.com/img/logos/158x48/tuple-logo-gray-900.svg" alt="Tuple" width="158" height="48">
      <img class="col-span-2 max-h-12 w-full object-contain sm:col-start-2 lg:col-span-1" src="https://tailwindui.com/img/logos/158x48/savvycal-logo-gray-900.svg" alt="SavvyCal" width="158" height="48">
      <img class="col-span-2 col-start-2 max-h-12 w-full object-contain sm:col-start-auto lg:col-span-1" src="https://tailwindui.com/img/logos/158x48/statamic-logo-gray-900.svg" alt="Statamic" width="158" height="48">
    </div>
  </div>
</div>


